# 作业2 股票数据清洗

同学们好，本次作业的主要内容为使用pandas进行数据预处理。希望这两天你们已经从Python的课程内容中回过神来了。
没有数据的分析是无源之水，能够熟练处理数据是成为合格的数据分析师的基本要求，希望大家在今后多多实战，成为数据大师。

本次作业将使用公开标普500的股票数据。
https://www.kaggle.com/dgawlik/nyse#prices-split-adjusted.csv

作业的形式以问答为主，因为不涉及过长的代码，核心是数据的操作，所以这里没有太多的代码模板可供大家参考。
希望大家能从搜索引擎（google/bing）问答社区（stackoverflow）或者[官方文档](https://pandas.pydata.org/pandas-docs/stable/user_guide/index.html)或者我提供的jupyter notebooks 中找到回答问题需要的方法。
请时刻牢记数据的增删改查四种原子操作，思考我们的问题可以被如何分解。

那么首先，我们要import pandas

In [157]:
import pandas as pd
from collections import Counter
import numpy as np

# 1. 从fundemantals.csv开始！

fundemantals.csv 是这些股票的年报数据

请用数据回答以下问题：

1. S&P500股票在2015年`net income`的均值是多少？最大值比最小值多多少？（每问10分，共计20分）
2. S&P500股票在2016年的固定资产（fixed assets）占总资产(total assets)比例的均值是多少？固定资产占总资产比例最小的股票是的代码（ticker symbol）是什么？（每问10分，共计20分）

In [51]:
file = r'./fundamentals.csv'
read_ = pd.read_csv(file)


# all data list
all_ = read_[read_['For Year'].isin(['2015.0'])]['Net Income']
# avg
avg = all_.mean()
# max
max_ = all_.max()
# min
min_ = all_.min()

print('均值:',avg)
print('最大值:',max_,'比最小值',min_,'多：',max_-min_)

均值: 1575185571.764706
最大值: 53394000000.0 比最小值 -23528000000.0 多： 76922000000.0

In [168]:
# 2016  all DataFrame
all_1 = read_[read_['For Year'].isin(['2016.0'])]

# 将比率列加入all_1,

all_1['price_'] = all_1['Fixed Assets']/all_1['Total Assets']
print('均值：',all_1['price_'].mean())

# 获取ticker symbol

all_2 = all_1[all_1['price_'].isin([all_1['price_'].min()])]['Ticker Symbol']
print('最小比例的代码ticker symbol为：',all_2)

均值： 0.18557794433374705
最小比例的代码ticker symbol为： 459    DHI
Name: Ticker Symbol, dtype: object

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

# 2. 加入securities.csv~

securities.csv包含了这些股票的基本信息

1. 请列举出各个sector中的加入时间最早的股票名称（10分）
2. 请列举出每一个州中加入时间最晚的股票名称（10分）

In [159]:
file2 = r'./securities.csv'
read_2 = pd.read_csv(file2)
# 根据GICS Sector   和Date first added 排序
data_1 = read_2.sort_values(['GICS Sector','Date first added'])
# 每个GICS Sector 对应的最早加入的Ticker symbol
data_1.groupby('GICS Sector').head(1)[['GICS Sector','Ticker symbol','Date first added']]

                     GICS Sector Ticker symbol Date first added
296       Consumer Discretionary           MCD       1970-06-30
207             Consumer Staples           GIS       1969-03-31
399                       Energy           SLB       1965-03-31
255                   Financials           JPM       1975-06-30
1                    Health Care           ABT       1964-03-31
48                   Industrials          ARNC       1964-03-31
233       Information Technology           HPQ       1974-12-31
404                    Materials           SHW       1964-06-30
56                   Real Estate           AVB       2007-01-10
51   Telecommunications Services             T       1983-11-30
152                    Utilities           DUK       1976-06-30

In [184]:
# 拆分address    获取洲sandbar
read_3 = read_2['Address of Headquarters'].str.split(',',expand=True).rename(columns = {0:'contry',1:'sandbar'})
read_4 = read_2.join(read_3)
read_4.head()
# 根据sandbar   和Date first added 排序
data_4 = read_4.sort_values(by=['sandbar','Date first added'],ascending = [1,0])

# 每个根据sandbar 对应的最早加入的Ticker symbol
data_4.groupby('sandbar').head(1)[['sandbar','Ticker symbol','Date first added']]

                         sandbar Ticker symbol Date first added
386                      Alabama            RF              NaN
187                      Arizona          FSLR       2009-10-16
250                     Arkansas          JBHT       2015-07-01
405                      Bermuda           SIG       2015-07-29
434                   California           COO       2016-09-23
453                     Colorado           UDR       2016-03-07
96                   Connecticut          CHTR       2016-09-08
132                         D.C.           DHR              NaN
320                     Delaware          NAVI       2014-05-01
394                      Florida           RCL       2014-12-05
5                        Georgia           AYI       2016-05-03
305                        Idaho            MU       1994-09-27
198                     Illinois          FBHS       2016-06-22
275                      Indiana           LLY       1970-12-31
368                         Iowa           PFG              NaN
163                      Ireland          ENDP       2015-01-27
136                         Kent          DLPH       2012-12-24
501                     Kentucky           YUM       1997-10-06
399   Kingdom of the Netherlands           SLB       1965-03-31
16                     Louisiana           ALB       2016-07-01
236                        Maine          IDXX       2017-01-05
456                     Maryland           UAA       2016-03-25
228                Massachusetts          HOLX       2016-03-30
74              Massachusetts[4]           BSX              NaN
208                     Michigan            GM       2013-06-06
436                    Minnesota           MOS       2011-09-26
90                      Missouri           CNC       2016-03-30
125                           NY          COTY       2016-10-03
66                      Nebraska         BRK.B       2010-02-16
282                  Netherlands           LYB       2012-09-05
494                       Nevada          WYNN       2008-11-14
33                    New Jersey           AWK       2016-03-04
195                     New York            FL       2016-04-04
377               North Carolina          QRVO       2015-06-11
302                         Ohio           MTD       2016-09-06
343                     Oklahoma           OKE       2010-03-15
224                  Oklahoma[5]            HP              NaN
190                       Oregon          FLIR       2009-01-02
116                 Pennsylvania         CMCSA       2015-09-18
108                 Rhode Island           CFG       2016-01-29
398               South Carolina           SCG       2009-01-02
447                  Switzerland           RIG       2013-10-29
165                    Tennessee          EVHC       2016-12-02
119                        Texas           CXO       2016-02-22
412                     Texas[6]           SWN       2008-06-06
350                           UK           PNR       2012-10-01
178                           UT           EXR       2016-01-19
492               United Kingdom          WLTW       2016-01-05
503                         Utah          ZION              NaN
127                     Virginia          CSRA       2015-12-01
56                   Virginia[3]           AVB       2007-01-10
197                   Washington           FTV       2016-07-01
21                     Wisconsin           LNT       2016-07-01

# 3. merge!

现在你需要同时处理来自两个表中的信息了

1. 请思考，合并两个表的信息的时候，我们应该用什么样的准则对其它们（10分）
2. 请列举每个sector在2013-2016年累计Research&Development的总投入（10分）
3. 请列举出每个sector中，在2013-2016年累计Research&development投入最大的3家公司的名称以及投入的数值（20分）

In [204]:
# 1

read_merge = pd.read_csv(file)
read_merge2 = pd.read_csv(file2)
# 针对大小写，重命名
read_merge3 = read_merge2.rename(columns={'Ticker symbol':'Ticker Symbol'})
# 根据共同的Ticker Symbol合并表   outer
read_all = pd.merge(read_merge,read_merge3,how='outer')
read_all.head()

,Unnamed: 0,Ticker Symbol,Period Ending,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,...,For Year,Earnings Per Share,Estimated Shares Outstanding,Security,SEC filings,GICS Sector,GICS Sub Industry,Address of Headquarters,Date first added,CIK
0,0.0,AAL,2012-12-31,3.068000e+09,-222000000.0,-1.961000e+09,23.0,-1.888000e+09,4.695000e+09,53.0,...,2012.0,-5.60,3.350000e+08,American Airlines Group,reports,Industrials,Airlines,"Fort Worth, Texas",2015-03-23,6201
1,1.0,AAL,2013-12-31,4.975000e+09,-93000000.0,-2.723000e+09,67.0,-3.114000e+09,1.059200e+10,75.0,...,2013.0,-11.25,1.630222e+08,American Airlines Group,reports,Industrials,Airlines,"Fort Worth, Texas",2015-03-23,6201
2,2.0,AAL,2014-12-31,4.668000e+09,-160000000.0,-1.500000e+08,143.0,-5.311000e+09,1.513500e+10,60.0,...,2014.0,4.02,7.169154e+08,American Airlines Group,reports,Industrials,Airlines,"Fort Worth, Texas",2015-03-23,6201
3,3.0,AAL,2015-12-31,5.102000e+09,352000000.0,-7.080000e+08,135.0,-6.151000e+09,1.159100e+10,51.0,...,2015.0,11.39,6.681299e+08,American Airlines Group,reports,Industrials,Airlines,"Fort Worth, Texas",2015-03-23,6201
4,4.0,AAP,2012-12-29,2.409453e+09,-89482000.0,6.000000e+05,32.0,-2.711820e+08,5.202150e+08,23.0,...,2012.0,5.29,7.328355e+07,Advance Auto Parts,reports,Consumer Discretionary,Automotive Retail,"Roanoke, Virginia",2015-07-09,1158449

In [221]:
#  列举每个sector在2013-2016年累计Research&Development的总投入
# 年份区间列表
list_betw = ['2013.0','2014.0','2015.0','2016.0']
read_merge_1 = read_all[read_all['For Year'].isin(list_betw)]
# sum
read_merge_1.groupby('GICS Sector')['Research and Development'].sum()

GICS Sector
Consumer Discretionary         1.860178e+09
Consumer Staples               1.346700e+09
Energy                         1.692513e+09
Financials                     0.000000e+00
Health Care                    1.527224e+11
Industrials                    4.262290e+10
Information Technology         2.818233e+11
Materials                      1.850921e+10
Real Estate                    1.162100e+08
Telecommunications Services    0.000000e+00
Utilities                      0.000000e+00
Name: Research and Development, dtype: float64

In [224]:
# 列举出每个sector中，在2013-2016年累计Research&development投入最大的3家公司的名称以及投入的数值
# 排序
read_merge_2 = read_merge_1.sort_values(by=['GICS Sector','Research and Development'],ascending = [1,0])
# 最终结果
read_merge_2.groupby('GICS Sector').head(3)[['GICS Sector','Research and Development','Security']]

,GICS Sector,Research and Development,Security
719,Consumer Discretionary,4.270430e+08,Garmin Ltd.
718,Consumer Discretionary,3.951210e+08,Garmin Ltd.
717,Consumer Discretionary,3.649230e+08,Garmin Ltd.
329,Consumer Staples,1.410000e+08,The Clorox Company
328,Consumer Staples,1.360000e+08,The Clorox Company
326,Consumer Staples,1.300000e+08,The Clorox Company
219,Energy,6.130000e+08,Baker Hughes Inc
218,Energy,5.560000e+08,Baker Hughes Inc
220,Energy,4.660000e+08,Baker Hughes Inc
53,Financials,0.000000e+00,AFLAC Inc
54,Financials,0.000000e+00,AFLAC Inc
55,Financials,0.000000e+00,AFLAC Inc
1258,Health Care,8.393000e+09,Pfizer Inc.
1259,Health Care,7.690000e+09,Pfizer Inc.
1100,Health Care,7.503000e+09,Merck & Co.
188,Industrials,3.331000e+09,Boeing Company
186,Industrials,3.071000e+09,Boeing Company
187,Industrials,3.047000e+09,Boeing Company
841,Information Technology,1.212800e+10,Intel Corp.
1109,Information Technology,1.204600e+10,Microsoft Corp.
1110,Information Technology,1.198800e+10,Microsoft Corp.
436,Materials,2.037000e+09,Du Pont (E.I.)
437,Materials,1.958000e+09,Du Pont (E.I.)
438,Materials,1.898000e+09,Du Pont (E.I.)
1718,Real Estate,3.300000e+07,Weyerhaeuser Corp.
1646,Real Estate,3.221000e+07,Vornado Realty Trust
1719,Real Estate,2.700000e+07,Weyerhaeuser Corp.
405,Telecommunications Services,0.000000e+00,CenturyLink Inc
406,Telecommunications Services,0.000000e+00,CenturyLink Inc
407,Telecommunications Services,0.000000e+00,CenturyLink Inc
45,Utilities,0.000000e+00,Ameren Corp
46,Utilities,0.000000e+00,Ameren Corp
47,Utilities,0.000000e+00,Ameren Corp

# 4. 现在让我们来看看更加复杂的数据

请导入price.csv，然后结合你的聪明才智回答以下问题（附加题，40分）

假设你是某基金公司的老板，现在对于每只股票，你都专门安排了一位负责它的交易员。公司规定每一位交易员手中的资金要么全部买入要么全部卖出（空仓，转化为现金）。假设2016年每一位交易员手中都有10000美元，假设他们都能够看到2016年全年的数据，假设他们都能抓住每一次机会，那么请问2016年底时，赚钱最多的股票是哪一只，赚了多少钱？

In [239]:
file3 = r'./prices.csv'
content = pd.read_csv(file3)
content1 = content[content['date'].str.startswith('2016')]
# content2 = .rename(columns = {0:'contry',1:'sandbar'})
content1['all_'] = (content1['high']-content1['low'])*content1['volume']
content2 = content1.groupby('symbol')['all_'].sum().to_frame()
# 最终结果
content2.sort_values(by = ['symbol','all_'],ascending = False).head(1)

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

                all_
symbol
ZTS     9.282421e+08